//*===== banner area start ====*//
.banner-area{
    .banner-left-area{
        position: relative;
        min-height: 440px;
        h2{
            color: $theme-light2;
            width: 50%;
            margin-left: 100px;
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 35px;
            font-weight: 700;
        }
        p{
            width: 45%;
            color: #A7A7A7;
            margin: 0 0 50px 100px;
            font-weight: 500;
        }
        a{
            margin-left: 100px;
            text-decoration: none;
            background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            box-shadow: 1px 24px 38px 5px rgba(0, 219, 248, 0.17);
            &:hover{
                background: linear-gradient(135deg, $theme-middel 0%, $theme-light 100%);
                transition: all 0.3 ease-in-out;
            }
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    .banner-right-area{
        .backgroun-image{
            margin-top: 40px;
            position: relative;
            .animation-image{
                position: absolute;
                top: 180px;
                right: 243px;
                .giear-icon-1{
                    animation: animate-1 10s linear 0s infinite;
                }
            }
            .animation-image2{
                position: absolute;
                top: 30px;
                left: 170px;
                 .giear-icon-2{
                    animation: animate-1 15s linear 0s infinite reverse;
                }
            }
            .animation-image3{
                position: absolute;
                top: 61px;
                right: 243px;
                
            }
            .animation-image4{
                position: absolute;
                bottom: 77px;
                left: 122px;
            }
        }
    }
}
//*===== banner area start ====*//