//*===== banner area start ====*//
.banner-area{
    .banner-left-area{
        position: relative;
        min-height: 440px;
        h2{
            color: $theme-light2;
            width: 80%;
            margin-left: 30px;
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 35px;
            font-weight: 700;
            @include breakpoint (sm){
                width: 70%;
                margin-left: 50px;
            }
            @include breakpoint (lg){
                margin-left: 100px;
                width: 50%;
            }
        }
        p{
            width: 80%;
            color: #A7A7A7;
            margin: 0 0 50px 30px;
            font-weight: 500;
            @include breakpoint (sm){
                width: 60%;
                margin: 0 0 50px 50px;
            }
            @include breakpoint (lg){
                width: 45%;
                margin: 0 0 50px 100px;
            }
        }
        a{
            margin-left: 30px;
            text-decoration: none;
            background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            box-shadow: 1px 24px 38px 5px rgba(0, 219, 248, 0.17);
            @include breakpoint (sm){
                margin-left: 50px;
            }
            @include breakpoint (lg){
                margin-left: 100px;
            }
            &:hover{
                background: linear-gradient(135deg, $theme-middel 0%, $theme-light 100%);
                transition: all 0.3 ease-in-out;
            }
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    .banner-right-area{
        height: 500px;
        .backgroun-image{
            margin-top: 40px;
            position: relative;
            .round-animation-box{
                position: absolute;
                top: 0;
                left: 20%;
                .round-image-box{
                    position: relative;
                    .round-image{
                        position: relative;
                    }
                    .animation-image{
                        position: absolute;
                        top: 183px;
                        right: 126px;
                        .giear-icon-1{
                            animation: animate-1 10s linear 0s infinite;
                        }
                    }
                    .animation-image2{
                        position: absolute;
                        top: 19px;
                        left: 39px;
                         .giear-icon-2{
                            animation: animate-1 15s linear 0s infinite reverse;
                        }
                    }
                    .animation-image3{
                        position: absolute;
                        top: 61px;
                        right: 126px;
                        .data-animation{
                            position: relative;
                            .data-icon-1{
                                position: absolute;
                                left: 44px;
                                top: -27px;
                                animation: data-animate-1 1s linear 1.2s infinite;
                            }
                            .data-icon-2{
                                position: absolute;
                                left: 44px;
                                top: -19px;
                                animation: data-animate-2 1s linear 1.2s infinite;
                            }
                            .data-icon-3{
                                position: absolute;
                                left: 41px;
                                top: -9px;
                                animation: data-animate-3 1s linear 1.2s infinite;
                            }
                        }
                        
                    }
                    .animation-image4{
                        position: absolute;
                        bottom: 77px;
                        left: -23px;
                        .data-animation{
                            position: relative;
                            .data-icon-1{
                                position: absolute;
                                left: 39px;
                                bottom: 4px;
                                animation: data-animate-4 1s linear 1.2s infinite;
                            }
                            .data-icon-2{
                                position: absolute;
                                left: 42px;
                                bottom: -9px;
                                animation: data-animate-5 1s linear 1.2s infinite;
                            }
                            .data-icon-3{
                                position: absolute;
                                left: 42px;
                                bottom: -17px;
                                animation: data-animate-6 1s linear 1.2s infinite;
                            }
                        }
                    }
                    .man-image-box{
                        position: absolute;
                        top: 18px;
                        left: -107px;
                        .man-image{
                            position: relative;
                        }
                    }
                }
                
            }
            
        }
    }
}
//*===== banner area start ====*//